.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.embed-container .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2, h1, p {
  color: azure;
}
