<nav class="navbar navbar-expand-md navbar-light custom-nav-links fixed-top" style="background-color: #098f9c;">
  <a class="navbar-brand" href="/">TooPath</a>
  <div class="collapse navbar-collapse float-right ml-3">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/devices">
          <i class="material-icons" style="position: relative; top: 5px;">devices</i> My Devices</a>
      </li>
      <li *ngIf="isLogged" class="nav-item">
        <a class="nav-link" routerLink="/map">
          <i class="material-icons" style="position: relative; top: 5px;">map</i> Map</a>
      </li>
    </ul>
    <button *ngIf="!isLogged" class="btn btn-primary navbar-btn ml-2" routerLink="/logIn" routerLinkActive="active">
      Log In
    </button>
    <button *ngIf="!isLogged" class="btn btn-success navbar-btn ml-2" routerLink="/signUp" routerLinkActive="active">
      Sign Up
    </button>
    <a *ngIf="isLogged" class="nav-link mr-3" routerLink="/profile">
      <i class="material-icons" style="position: relative; top: 5px;">account_circle</i> {{currentUser.first_name}}</a>
    <button *ngIf="isLogged" class="btn btn-danger navbar-btn" (click)="logOut()">Log Out
    </button>
  </div>
</nav>
